#card {
    position: fixed;
    width: 330px;
    height: 550px;
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    z-index: 10;
    overflow: hidden;
}

.card.head {
    overflow: hidden;
    width: 100%;
    height: 28px;
    background: #f5f5f5;
    font-weight: bold;
    font-size: 0.75em;
    color: #464646;
    border-bottom: 1px solid #ececec;
    border-top-left-radius: 15px;
    border-top-right-radius: 13px;
}

.card.head .buttons { width: 45px; background: #f5f5f5; }

.card.head .title { 
    text-align: center;
    box-sizing: border-box;
    width: calc(100% - 100px); 
    line-height: 28px;
    padding: 0 0 0 10px;
    margin: 0 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.card.head .title ::selection { background: none; }

.card.head .buttons, .card.head .title, .card.head .extra {
    float: left;
    height: inherit;
}

.card.head .extra {
    width: 45px;
}

.card.head .buttons div:nth-child(1),
.card.head .buttons div:nth-child(2) {
    position: relative;
    top: 8px;
    left: 2px;
    width: 13px;
    height: 13px;
    float: left;
    cursor: pointer;
    margin-left: 8px;
    border-radius: 50px;
}

.card.head .buttons div:nth-child(1) { background: #960016; }

.card.head .buttons div:nth-child(2) { background: #016d33; }


.card.content { position: relative; }

.card.content * {
    height: auto;
    color: #575757;
}


/* ponto de ajuste das medidas do card */
@media only screen and (max-width: 400px) and (max-height: 650px) {
    #card {
        width: 300px;
        height: 500px;
    }
}