#card {
    position: fixed;
    width: 330px;
    max-height: 600px;
    min-height: 600px;
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    z-index: 10;
}

.card.head {
    overflow: hidden;
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    font-weight: bold;
    font-size: 0.75em;
    color: #464646;
    border-bottom: 1px solid #ececec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card.head .buttons { width: 75px; background: #f5f5f5; }

.card.head .title { 
    box-sizing: border-box;
    width: calc(100% - 130px); 
    line-height: 40px;
    padding: 0 0 0 10px;
    margin: 0 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.card.head .title ::selection { background: none; }

.card.head .buttons, .card.head .title, .card.head .extra {
    float: left;
    height: inherit;
}

.card.head .extra {
    width: 45px;
}

.card.head .buttons div:nth-child(1),
.card.head .buttons div:nth-child(2) {
    position: relative;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50px;
}

.card.head .buttons div:nth-child(1) { background: #dc0000; }

.card.head .buttons div:nth-child(2) { background: #f3cc91; }


.card.content { 
    position: relative;
    box-sizing: border-box;
    width: 100%; 
    padding: 24px;
}

.card.content * {
    height: auto;
    color: #575757;
}

@media only screen and (max-height: 640px) {
    #card {
        max-height: 500px;
        min-height: 500px;
    }
} 