.index-page {
    width: 100%;
    height: 100%;
}

.index.head {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 50px;
    background: #323234;
}

/* left-menu */

.left-menu {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.right-menu {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.left-menu .side-menu-btn,
.right-menu .especie-box-btn { 
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
}

.right-menu .especie-box-btn { display: block; }

.logo {
    position: relative;
    float: left;
    width: calc(100% - 80px);
    text-align: center;
    font-family: "Sorts Mill Goudy";
    color: #ffffff;
    font-size: 1.3em;
    line-height: 55px;
}

.logo span { cursor: pointer; }

.index.body {
    width: 100%;
    height: calc(100% - 50px);
}

/* hover box */

.hover-box { 
    position: relative; 
    z-index: 10;
}

.hover-box #control-box { display: none; }

.hover-box #control-box:checked + .box { 
    visibility: visible; 
    opacity: 1;
    top: 35px;
}

.hover-box .box { 
    position: absolute;
    right: 0%;
    top: 25px;
    width: 230px;
    background: #ffffff;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.especie-box-btn { position: relative; }

.especie-box-btn > .count-itens {
    position: absolute;
    right: 0;
    background: red;
    font-size: 0.7em;
    line-height: 1em;
    padding: 2px 4px 2px 4px;
}

.box > .list-itens-especie { 
    max-height: 113px;
    overflow-y: auto;
}

.box > .list-itens-especie > .item { 
    width: 100%;
    height: 34px;
    padding: 0 0 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: table;
    cursor: pointer;
    color: #424242;
}

.box > .list-itens-especie > .item.without-data {
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    cursor: alias;
    padding: 14px 10px 14px 20px !important;
    line-height: 1.4em;
}

.box > .list-itens-especie > .item > .title,
.box > .list-itens-especie > .item > .close { float: left; }

.box > .list-itens-especie > .item > .title { 
    width: calc(100% - 30px);
    line-height: 34px;
    font-size: 0.8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box > .list-itens-especie > .item > .close {
    text-align: center;
    width: 30px;
    line-height: 37px;
    font-size: 0.85em;
    text-indent: -3px;
}

.box > .list-itens-especie > .item:last-child { border-bottom: none;}

.box > .list-itens-especie > .item:only-child { padding: 10px 10px 10px 15px; }

.hover-box .box::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 4%;
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
}