@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Sorts Mill Goudy";
    src: url(../fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf);
}